.container {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.column {
  padding: 14px 10px 10px 10px;
  text-align: left;
  font-weight: 600;
  color: #858585;
  &:nth-child(4) {
    display: flex;
    justify-content: center;
  }
  &Name {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
